<r-layout>
  <r-sidenav-container>
    <!-- drawer component -->
    <r-sidenav [opened]="!isMobile" [mode]="isMobile ? 'over' : 'push'">
      <r-expansion-panel [fullWidth]="true" [disableShadow]="true">
        <r-expansion-panel-header>
          <h4>Layout</h4>
        </r-expansion-panel-header>
        <r-expansion-panel-body>
          <!-- br is just a temporary solution until we implement r-list -->
          <a routerLink="/components/layout/overview">Overview</a>
          <br>
          <a routerLink="/components/layout/card">Card</a>
          <br>
          <a routerLink="/components/layout/tabs">Tabs</a>
          <br>
          <a routerLink="/components/layout/button">Button</a>
          <br>
          <a routerLink="/components/layout/expansion-panel">Expansion panel</a>
          <br>
          <a routerLink="/components/layout/list">List</a>
          <br>
          <a routerLink="/components/layout/divider">Divider</a>
          <br>
          <a routerLink="/components/layout/alert">Alert</a>
        </r-expansion-panel-body>
      </r-expansion-panel>
      <r-expansion-panel [fullWidth]="true" [disableShadow]="true">
        <r-expansion-panel-header>
          <h4>Popups</h4>
        </r-expansion-panel-header>
        <r-expansion-panel-body>
          <a routerLink="/components/popups/toast">Toast</a>
          <br>
          <a routerLink="/components/popups/dialog">Dialog</a>
          <!-- <br>
          <a routerLink="/components/layout/card">Card</a>
          <br>
          <a routerLink="/components/layout/tabs">Tabs</a>
          <br>
          <a routerLink="/components/layout/expansion-panel">Expansion panel</a> -->
        </r-expansion-panel-body>
      </r-expansion-panel>
    </r-sidenav>

    <!-- content component -->
    <r-sidenav-content>
      <!-- app navbar -->
      <r-navbar fixed>
        <r-logo width="49" height="45"></r-logo>
        <div class="links">
          <!-- <a routerLink="/donate">Donate</a> -->
          <iframe #github src="https://ghbtns.com/github-btn.html?user=subotin94&repo=r-components&type=star&count=true" frameborder="0"
          scrolling="0" width="106px" height="20px"></iframe>
        </div>
      </r-navbar>
      <!-- everything under navbar is just regular content -->

      <router-outlet></router-outlet>
    </r-sidenav-content>

  </r-sidenav-container>
  <!-- <r-card>
    <r-card-header>
      <img r-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg">
    </r-card-header>
  </r-card> -->
</r-layout>

<!-- <r-checkbox>Check me!</r-checkbox>

<button r-icon-button icon="add" (click)="openDialog()"></button> -->
<!-- <ng-template #dialogContent>
  <r-select (afterClosed)="onSelectedChange($event)" placeholder="Bla">
    <r-option>
      Caoooooooooo
    </r-option>
    <r-option>
      Caoooooooooo
    </r-option>
    <r-option>
      Caoooooooooo
    </r-option>
    <r-option>
      Caoooooooooo
    </r-option>
    <r-option>
      Caoooooooooo
    </r-option>
    <r-option>
      Caoooooooooo
    </r-option>
  </r-select>
</ng-template> -->

<!-- <section>
  <h1>Welcome to r-components demo preview</h1> -->
<!-- TODO create r-hint component -->
<!-- <r-hint status="warning">
    <p>This is not production ready library yet</p>
  </r-hint> -->
<!-- TODO create r-hint component -->
<!-- <r-browser-card>
    <pre><code [highlight]="'npm i @r-components/theme @angular/cdk @angular/animations @angular/material'"></code></pre>
  </r-browser-card> -->
<!-- </section>
<section>
  <h1>Select menus:</h1>
  <ul>
    <dl>
      <dt>
        <h3>Status Select Menus:</h3>
      </dt>
      <dd>
        <r-select (afterClosed)="onSelectedChange($event)" placeholder="Bla">
          <r-option>
            Caoooooooooo
          </r-option>
          <r-option>
            Caoooooooooo
          </r-option>
          <r-option>
            Caoooooooooo
          </r-option>
          <r-option>
            Caoooooooooo
          </r-option>
          <r-option>
            Caoooooooooo
          </r-option>
          <r-option>
            Caoooooooooo
          </r-option>

        </r-select>
      </dd>
    </dl>
  </ul>
</section>
<section class="inputs">
  <h1>Inputs:</h1> -->
<!-- <r-browser-card>
    <pre><code [highlight]="inputModule"></code></pre>
  </r-browser-card> -->
<!-- <ul>
    <dl>
      <dt>
        <h3>Status Inputs:</h3>
      </dt>
      <dd>
        <input r-input status="danger" placeholder="Danger input">
        <input r-input status="warning" placeholder="Warning input">
        <input r-input status="primary" placeholder="Primary input">
        <input r-input status="info" placeholder="Info input">
        <input r-input status="success" placeholder="Success input">
        <input r-input status="basic" placeholder="Basic input">
        <textarea r-input status="danger" cols="21" rows="3" placeholder="Danger textarea"></textarea>
        <textarea r-input status="warning" cols="21" rows="3" placeholder="Warning textarea"></textarea>
        <textarea r-input status="primary" cols="21" rows="3" placeholder="Primary textarea"></textarea>
        <textarea r-input status="info" cols="21" rows="3" placeholder="Info textarea"></textarea>
        <textarea r-input status="success" cols="21" rows="3" placeholder="Success textarea"></textarea>
        <textarea r-input status="basic" cols="21" rows="3" placeholder="Basic textarea"></textarea> -->
<!-- <r-browser-card>
          <pre><code [highlight]="statusInputs"></code></pre>
        </r-browser-card> -->
<!-- </dd>

    </dl>
  </ul>
</section>
<section>
  <h1>Toasts:</h1>
  <r-browser-card>
    <pre><code [highlight]="toastModule"></code></pre>
  </r-browser-card>
  <ul>
    <dl>
      <dt>
        <h3>Status Toasts:</h3>
      </dt>
      <dd>
        <button (click)="dangerToast()" r-button [status]="danger">Danger</button>
        <button (click)="warningToast()" r-button status="warning">Warning</button>
        <button (click)="primaryToast()" r-button status="primary">Primary</button>
        <button (click)="infoToast()" r-button status="info">Info</button>
        <button (click)="successToast()" r-button status="success">Success</button> -->
<!-- TODO default toast -->
<!-- <r-browser-card>
          <pre><code [highlight]="toastServicee"></code></pre>
        </r-browser-card>
      </dd>
    </dl>
  </ul>
</section>

<section>

</section> -->