:host {
  height: 100vh;
  overflow: auto;
  display: block;

  button, r-alert {
    margin: 10px;
  }
  background-color: #edf1f7;
  color: #222b45;

  .inputs {
    background-color: white;
    padding: 20px 0;
  }
}
