<section>
  <h1>Buttons:</h1>
  <r-browser-card>
    <pre><code [highlight]="buttonModule"></code></pre>
  </r-browser-card>
  <ul>
    <dl>
      <dt>
        <h3>Status Buttons:</h3>
      </dt>
      <dd>
        <button r-button status="danger">Danger</button>
        <button r-button status="warning">Warning</button>
        <button r-button status="primary">Primary</button>
        <button r-button status="info">Info</button>
        <button r-button status="success">Success</button>
        <r-browser-card>
          <pre><code [highlight]="statusButtons"></code></pre>
        </r-browser-card>
      </dd>
      <dt>
        <h3>Icon Buttons:</h3>
      </dt>
      <dd>
        <button r-icon-button icon="add" status="primary">Add</button>
        <button r-icon-button icon="clear" status="danger"></button>
        <button r-icon-button icon="warning" status="warning"></button>
        <button r-icon-button icon="add" status="primary"></button>
        <button r-icon-button icon="info" status="info"></button>
        <button r-icon-button icon="done" status="success"></button>
        <r-browser-card>
          <pre><code [highlight]="iconButtons"></code></pre>
        </r-browser-card>
        <p>
          Icon buttons use <a href="https://material.io/resources/icons">Material icons font</a>
        </p>
      </dd>
      <dt>
        <h3>Button Shapes:</h3>
      </dt>
      <dd>
        <button r-button status="primary" shape="rounded-pill">Rounded pill</button>
        <r-browser-card>
          <pre><code [highlight]="buttonShapes"></code></pre>
        </r-browser-card>
      </dd>
      <dt>
        <h3>Disabled Buttons:</h3>
      </dt>
      <dd>
        <button r-button disabled="true">Disabled</button>
        <button r-icon-button icon="add" status="primary" disabled="true"></button>
        <r-browser-card>
          <pre><code [highlight]="disabledButtons"></code></pre>
        </r-browser-card>
      </dd>
    </dl>
  </ul>
</section>

<section>
  <h1>Alerts:</h1>
  <r-browser-card>
    <pre><code [highlight]="alertModule"></code></pre>
  </r-browser-card>
  <ul>
    <h3>Outline alerts:</h3>
    <p>Alerts are outline by default</p>
    <li>
      <r-alert closable="true" status="danger">Danger outline</r-alert>
    </li>
    <li>
      <r-alert closable="true" status="warning">Warning outline</r-alert>
    </li>
    <li>
      <r-alert closable="true" status="primary">Primary outline</r-alert>
    </li>
    <li>
      <r-alert closable="true" status="info">Info outline</r-alert>
    </li>
    <li>
      <r-alert closable="true" status="success">Success outline</r-alert>
    </li>
    <r-browser-card>
      <pre><code [highlight]="outlineAlerts"></code></pre>
    </r-browser-card>
  </ul>
  <ul>
    <h3>Filled alerts:</h3>
    <li>
      <r-alert appearance="filled" closable="true" status="danger">Danger filled</r-alert>
    </li>
    <li>
      <r-alert appearance="filled" closable="true" status="warning">Warning filled</r-alert>
    </li>
    <li>
      <r-alert appearance="filled" closable="true" status="primary">Primary filled</r-alert>
    </li>
    <li>
      <r-alert appearance="filled" closable="true" status="info">Info filled</r-alert>
    </li>
    <li>
      <r-alert appearance="filled" closable="true" status="success">Success filled</r-alert>
    </li>
    <r-browser-card>
      <pre><code [highlight]="filledAlerts"></code></pre>
    </r-browser-card>
  </ul>
</section>