<r-layout>
  <r-sidenav-container>
    <!-- drawer component -->
    <r-sidenav [opened]="!isMobile" [mode]="isMobile ? 'over' : 'push'">
      <r-expansion-panel-list>
        <r-expansion-panel [fullWidth]="true" [disableShadow]="true">
          <r-expansion-panel-header>
            <h4>Layout</h4>
          </r-expansion-panel-header>
          <r-expansion-panel-body>
            <!-- br is just a temporary solution until we implement r-list -->
            <a routerLink="/components/layout/overview">Overview</a>
            <br>
            <a routerLink="/components/layout/card">Card</a>
            <br>
            <a routerLink="/components/layout/tabs">Tabs</a>
            <br>
            <a routerLink="/components/layout/button">Button</a>
            <br>
            <a routerLink="/components/layout/expansion-panel">Expansion panel</a>
            <br>
            <a routerLink="/components/layout/list">List</a>
            <br>
            <a routerLink="/components/layout/divider">Divider</a>
            <br>
            <a routerLink="/components/layout/alert">Alert</a>
          </r-expansion-panel-body>
        </r-expansion-panel>
        <r-expansion-panel [fullWidth]="true" [disableShadow]="true">
          <r-expansion-panel-header>
            <h4>Form Controls</h4>
          </r-expansion-panel-header>
          <r-expansion-panel-body>
            <a routerLink="/components/form-controls/input">Input</a>
            <br>
            <!-- <a routerLink="/components/form-controls/select">Select</a> -->
          </r-expansion-panel-body>
        </r-expansion-panel>
        <r-expansion-panel [fullWidth]="true" [disableShadow]="true">
          <r-expansion-panel-header>
            <h4>Popups</h4>
          </r-expansion-panel-header>
          <r-expansion-panel-body>
            <a routerLink="/components/popups/toast">Toast</a>
            <br>
            <a routerLink="/components/popups/dialog">Dialog</a>
          </r-expansion-panel-body>
        </r-expansion-panel>
      </r-expansion-panel-list>
    </r-sidenav>

    <!-- content component -->
    <r-sidenav-content>
      <!-- app navbar -->
      <r-navbar fixed>
        <r-logo width="49" height="45"></r-logo>
        <div class="links">
          <!-- <a routerLink="/donate">Donate</a> -->
          <iframe #github src="https://ghbtns.com/github-btn.html?user=subotin94&repo=r-components&type=star&count=true"
            frameborder="0" scrolling="0" width="106px" height="20px"></iframe>
        </div>
      </r-navbar>
      <!-- everything under navbar is just regular content -->

      <router-outlet></router-outlet>
    </r-sidenav-content>

  </r-sidenav-container>
  <!-- <r-card>
    <r-card-header>
      <img r-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg">
    </r-card-header>
  </r-card> -->
</r-layout>

<!-- <r-checkbox>Check me!</r-checkbox>

<button r-icon-button icon="add" (click)="openDialog()"></button> -->
<!-- <ng-template #dialogContent>
  <r-select (afterClosed)="onSelectedChange($event)" placeholder="Bla">
    <r-option>
      Caoooooooooo
    </r-option>
    <r-option>
      Caoooooooooo
    </r-option>
    <r-option>
      Caoooooooooo
    </r-option>
    <r-option>
      Caoooooooooo
    </r-option>
    <r-option>
      Caoooooooooo
    </r-option>
    <r-option>
      Caoooooooooo
    </r-option>
  </r-select>
</ng-template> -->

<!-- <section>
  <h1>Welcome to r-components demo preview</h1> -->
<!-- TODO create r-hint component -->
<!-- <r-hint status="warning">
    <p>This is not production ready library yet</p>
  </r-hint> -->
<!-- TODO create r-hint component -->
<!-- <r-browser-card>
    <pre><code [highlight]="'npm i @r-components/theme @angular/cdk @angular/animations @angular/material'"></code></pre>
  </r-browser-card> -->
<!-- </section> -->