@import "../../../../styles/r-theme.scss";
@import "../../../../styles/mixins.scss";
@import "../../../../styles/variants.scss";

:host {
  display: inline-block;
  height: 4px; 
  width: 100%;
  position: absolute;
  left: 0;
  // Overlap r-card-header's border 
  bottom: -17px;
  border-radius: 3px;
  @each $status in r-get-statuses() {
    &.status-#{$status} {
      background-color: r-theme(filled-#{$status}-background-color);
    }
  }
}
