@import "./variables.scss";
@import "./themes/default.scss";

$r-theme-map: ();

@function r-theme($key) {
  @return map-get($r-theme-map, $key);
}

@function r-get-maps() {
  @return $global-map, $status-map, $button-map, $default-map, $input-map, $select-map;
}

$global-map: (
  border-radius-rectangle: 4px,
  border-radius-rounded-pill: 18px,
  border-radius-rounded: 50%,
  outline-color: rgba(143, 155, 179, 0.16)
);

$status-map: (
  filled-border: 1px solid,
  filled-border-2: 2px solid,
  filled-primary-background-color: $primary,
  filled-primary-border-color: $primary,
  filled-primary-hover-background-color: $primary-light,
  filled-primary-hover-border-color: $primary-light,
  filled-primary-active-background-color: $primary-dark,
  filled-primary-active-border-color: $primary-dark,
  filled-primary-color: $white,

  filled-danger-background-color: $danger,
  filled-danger-hover-background-color: $danger-light,
  filled-danger-border-color: $danger,
  filled-danger-hover-border-color: $danger-light,
  filled-danger-active-background-color: $danger-dark,
  filled-danger-active-border-color: $danger-dark,
  filled-danger-color: $white,

  filled-warning-background-color: $warning,
  filled-warning-hover-background-color: $warning-light,
  filled-warning-border-color: $warning,
  filled-warning-hover-border-color: $warning-light,
  filled-warning-active-background-color: $warning-dark,
  filled-warning-active-border-color: $warning-dark,
  filled-warning-color: $white,

  filled-info-background-color: $info,
  filled-info-hover-background-color: $info-light,
  filled-info-border-color: $info,
  filled-info-hover-border-color: $info-light,
  filled-info-active-background-color: $info-dark,
  filled-info-active-border-color: $info-dark,
  filled-info-color: $white,

  filled-success-background-color: $success,
  filled-success-hover-background-color: $success-light,
  filled-success-border-color: $success,
  filled-success-hover-border-color: $success-light,
  filled-success-color: $white,
  filled-success-active-background-color: $success-dark,
  filled-success-active-border-color: $success-dark,

  filled-disabled-background-color: $default-disabled-color-1,
  filled-disabled-border-color: transparent,
  filled-disabled-color: $default-disabled-color-2
);

$button-map: (
  button-outline-width: 6px,
  button-small-font-size: 12px,
  button-small-line-height: 16px,
  button-small-padding: 7px 14px,
  button-medium-font-size: 14px,
  button-medium-line-height: 16px,
  button-medium-padding: 11px 18px,
  button-large-font-size: 16px,
  button-large-line-height: 20px,
  button-large-padding: 13px 18px
);

$input-map: (
  input-outline-width: 6px,
  input-small-font-size: 12px,
  input-small-font-weight: 600,
  input-small-line-height: 24px,
  input-small-padding: 3px 18px,
  input-medium-font-size: 15px,
  input-medium-font-weight: 600,
  input-medium-line-height: 24px,
  input-medium-padding: 7px 18px,
  input-large-font-size: 15px,
  input-large-font-weight: 600,
  input-large-line-height: 20px,
  input-large-padding: 11px 18px,
);

// TODO convert rem to px
$select-map: (
  select-small-padding: 3px 18px,
  select-medium-padding: 7px 18px,
  select-large-padding: 11px 18px,
  select-options-list-background-color: $white
  // select-options-list-status-primary-color: $primary,
  // select-options-list-status-info-color: $info,
  // select-options-list-status-danger-color: $danger,
  // select-options-list-status-primary-color: $primary,
);

@each $map in r-get-maps() {
  $r-theme-map: map-merge($r-theme-map, $map);
}