@import "./variables.scss";

$r-theme-map: ();

@function r-theme($key) {
  @return map-get($r-theme-map, $key);
}

$global-map: (
  border-radius-rectangle: 4px,
  border-radius-rounded-pill: 18px,
  border-radius-rounded: 50%
);

$button-map: (
  button-outline-width: 6px,
  button-outline-color: rgba(143, 155, 179, 0.16),
  button-small-font-size: 12px,
  button-small-line-height: 16px,
  button-small-padding: 7px 14px,
  button-medium-font-size: 14px,
  button-medium-line-height: 16px,
  button-medium-padding: 11px 18px,
  button-large-font-size: 16px,
  button-large-line-height: 20px,
  button-large-padding: 13px 18px,

  button-filled-primary-background-color: $primary,
  button-filled-primary-hover-background-color: $primary-light,
  button-filled-primary-border-color: $primary,
  button-filled-primary-hover-border-color: $primary-light,
  button-filled-primary-color: $white,
  button-filled-primary-active-background-color: $primary-dark,
  button-filled-primary-active-border-color: $primary-dark,
  button-filled-primary-disabled-border-color: $primary,
  button-filled-primary-disabled-background-color: $primary,
  button-filled-primary-disabled-color: $primary,

  button-filled-danger-background-color: $danger,
  button-filled-danger-hover-background-color: $danger-light,
  button-filled-danger-border-color: $danger,
  button-filled-danger-hover-border-color: $danger-light,
  button-filled-danger-color: $white,
  button-filled-danger-active-background-color: $danger-dark,
  button-filled-danger-active-border-color: $danger-dark,
  button-filled-danger-disabled-border-color: $danger,
  button-filled-danger-disabled-background-color: $danger,
  button-filled-danger-disabled-color: $danger,

  button-filled-warning-background-color: $warning,
  button-filled-warning-hover-background-color: $warning-light,
  button-filled-warning-border-color: $warning,
  button-filled-warning-hover-border-color: $warning-light,
  button-filled-warning-color: $white,
  button-filled-warning-active-background-color: $warning-dark,
  button-filled-warning-active-border-color: $warning-dark,
  button-filled-warning-disabled-border-color: $danger,
  button-filled-warning-disabled-background-color: $danger,
  button-filled-warning-disabled-color: $danger,

  button-filled-info-background-color: $info,
  button-filled-info-hover-background-color: $info-light,
  button-filled-info-border-color: $info,
  button-filled-info-hover-border-color: $info-light,
  button-filled-info-color: $white,
  button-filled-info-active-background-color: $info-dark,
  button-filled-info-active-border-color: $info-dark,
  button-filled-info-disabled-border-color: $danger,
  button-filled-info-disabled-background-color: $danger,
  button-filled-info-disabled-color: $danger,

  button-filled-success-background-color: $success,
  button-filled-success-hover-background-color: $success-light,
  button-filled-success-border-color: $success,
  button-filled-success-hover-border-color: $success-light,
  button-filled-success-color: $white,
  button-filled-success-active-background-color: $success-dark,
  button-filled-success-active-border-color: $success-dark,
  button-filled-success-disabled-border-color: $danger,
  button-filled-success-disabled-background-color: $danger,
  button-filled-success-disabled-color: $danger,
);

@each $map in $global-map, $button-map {
  $r-theme-map: map-merge($r-theme-map, $map);
}