@import "./r-theme.scss";
@import "./mixins.scss";

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p {
  margin: 0;
}
a {
  @include r-component-animation(color);
  text-decoration: none;
  color: r-theme(filled-info-background-color);
  &:visited {
    color: r-theme(filled-info-active-background-color);
  }
  &:hover {
    color: r-theme(filled-info-hover-background-color);
  }
}
mark {}
del {}
s {}
ins {}
u {}
small {}
strong {}
em {}
ul {
  li {}
}
ol {
  li {}
}
dl {
  li {}
}
