:host {
  display: block;
  border-radius: 10px;
  background-color: #282C34;
  margin: 24px 0;
  .header {
    margin: 0 15px;
    padding: 19px 22px 10px;
    display: flex;
    background-color: #282C34;

    .span {
      height: 13px;
      width: 13px;
      border-radius: 50%;
      &:not(:last-child) {
        margin-right: 8px;
      }
      &.red {
        background-color: #FF5F56;
      }
      &.yellow {
        background-color: #FFBD2E;
      }
      &.green {
        background-color: #27C93F;
      }
    }
  }
  .body {
    margin: 0 15px;
    padding: 0 22px;
    background-color: #282C34;
    ::ng-deep {
      pre {
        margin: 0;
      }
    }
  }
}