<r-list>
  <r-list-title>List 1</r-list-title>
  <r-list-item>
    Works
  </r-list-item>
  <r-list-item>
    Works
  </r-list-item>
  <r-list-item>
    Works
  </r-list-item>
  <r-list-item>
    Works
  </r-list-item>
</r-list>
<br>
<br>
<r-list [disableShadow]="true">
  <r-list-title>List 2</r-list-title>
  <r-list-item>
    Works
  </r-list-item>
  <r-list-item>
    Works
  </r-list-item>
  <r-list-item>
    Works
  </r-list-item>
  <r-list-item>
    Works
  </r-list-item>
</r-list>
<br>
<br>
<r-list [disableListStyle]="true">
  <r-list-title>List 1</r-list-title>
  <r-list-item>
    Works
  </r-list-item>
  <r-list-item>
    Works
  </r-list-item>
  <r-list-item>
    Works
  </r-list-item>
  <r-list-item>
    Works
  </r-list-item>
</r-list>