<h1>Inputs:</h1>
<!-- <r-browser-card>
  <pre><code [highlight]="inputModule"></code></pre>
</r-browser-card> -->
<ul>
  <dl>
    <dt>
      <h3>Status Inputs:</h3>
    </dt>
    <dd>
      <input r-input status="danger" placeholder="Danger input">
      <input r-input status="warning" placeholder="Warning input">
      <input r-input status="primary" placeholder="Primary input">
      <input r-input status="info" placeholder="Info input">
      <input r-input status="success" placeholder="Success input">
      <input r-input status="basic" placeholder="Basic input">
    </dd>
    <dt>
      <h3>Status Textarea:</h3>
    </dt>
    <dd>
      <textarea r-input status="danger" cols="21" rows="3" placeholder="Danger textarea"></textarea>
      <textarea r-input status="warning" cols="21" rows="3" placeholder="Warning textarea"></textarea>
      <textarea r-input status="primary" cols="21" rows="3" placeholder="Primary textarea"></textarea>
      <textarea r-input status="info" cols="21" rows="3" placeholder="Info textarea"></textarea>
      <textarea r-input status="success" cols="21" rows="3" placeholder="Success textarea"></textarea>
      <textarea r-input status="basic" cols="21" rows="3" placeholder="Basic textarea"></textarea></dd>
      <!-- <r-browser-card>
        <pre><code [highlight]="statusInputs"></code></pre>
      </r-browser-card> -->
  </dl>
</ul>