@import "../../../styles/r-theme.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/variants.scss";

@mixin input-theme() {
  input[r-input], textarea[r-input] {
    @include r-component-animation(box-shadow, border);
    color: r-theme(filled-basic-color);
    background-color: r-theme(filled-basic-background-color);
    border: r-theme(filled-border);
    margin: 6px;
    &:active, &:focus {
      outline: none;
      @include r-outline(r-theme(input-outline-width), r-theme(outline-color));
    }
    &::placeholder {
      font-weight: 400;
      color: $gray;
    }
    &:disabled {
      background-color: r-theme(filled-basic-disabled-background-color);
    }
    @each $size in r-get-sizes() {
      &.size-#{$size} {
        padding: r-theme(input-#{$size}-padding);
        font-size: r-theme(input-#{$size}-font-size);
        font-weight: r-theme(input-#{$size}-font-weight);
        line-height: r-theme(input-#{$size}-line-height);
      }
    }
    @each $shape in r-get-shapes() {
      &.shape-#{$shape} {
        border-radius: r-theme(border-radius-#{$shape});
      }
    }
    @each $status in r-get-statuses() {
      &.status-#{$status} {
        border-color: r-theme(filled-#{$status}-border-color);
        border-color: r-theme(filled-#{$status}-border-color);
      }
    }
  }
}
