@import "../../../styles/mixins.scss";
@import "../../../styles/r-theme.scss";

:host {
  display: inline-block;
  r-card {
    r-card-header {
      position: relative;
      padding-bottom: 0;
      a {
        padding: 8px 32px;
        margin-bottom: 16px;
        font-size: 14px;
        position: relative;
        line-height: 16px;
        cursor: pointer;
        &:hover {
          color: r-theme(filled-info-background-color);
        }
      }
    }
  }
}