:host {
  display: inline-block;
  r-card {
    r-card-header {
      padding-bottom: 0;
      a {
        padding: 16px 32px;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
      }
    }
  }
}