@import "../../../styles/r-theme.scss";

$default-height: 76px !default;

:host {
  display: flex;
  align-items: center;
  height: $default-height;
  background-color: r-theme(default-color-1);
  box-shadow: r-theme(default-shadow-1);
  color: r-theme(default-color-6);
  padding: 0 47px;
  &.r-navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // `r-sidenav` has `z-index: 1001`
    z-index: 1002;
  }
}
