@import "../../../../styles/mixins.scss";

:host {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  // !important is just a temporary solution until we implement ghost-button
  button[r-icon-button] {
    background-color: transparent !important;
    border-color: transparent !important;
    color: inherit !important;
    padding: 5px !important;
    @include r-component-animation(transform);
    &:focus {
      box-shadow: none;
    }
  }
}