<h1>Select menus:</h1>
<ul>
  <dl>
    <dt>
      <h3>Status Select Menus:</h3>
    </dt>
    <dd>
      <r-select (afterClosed)="onSelectedChange($event)" placeholder="Bla">
        <r-option>
          Caoooooooooo
        </r-option>
        <r-option>
          Caoooooooooo
        </r-option>
        <r-option>
          Caoooooooooo
        </r-option>
        <r-option>
          Caoooooooooo
        </r-option>
        <r-option>
          Caoooooooooo
        </r-option>
        <r-option>
          Caoooooooooo
        </r-option>

      </r-select>
    </dd>
  </dl>
</ul>