@import "../../../styles/variants.scss";
@import "../../../styles/r-theme.scss";
@import "../../../styles/mixins.scss";

@mixin button-filled() {
  &[r-button].appearance-filled {
    @each $status in r-get-statuses() {
      &.status-#{$status} {
        background-color: r-theme(filled-#{$status}-background-color);
        border: r-theme(filled-border);
        border-color: r-theme(filled-#{$status}-border-color);
        color: r-theme(filled-#{$status}-color);

        &:hover {
          background-color: r-theme(
            filled-#{$status}-hover-background-color
          );
          border-color: r-theme(filled-#{$status}-hover-border-color);
        }

        &:active {
          background-color: r-theme(
            filled-#{$status}-active-background-color
          );
          border-color: r-theme(filled-#{$status}-active-border-color);
        }
      }
    }
    &:disabled {
      background-color: r-theme(filled-disabled-background-color);
      border-color: r-theme(filled-disabled-border-color);
      color: r-theme(filled-disabled-color);
      cursor: default;
      &:hover {
        background-color: r-theme(filled-disabled-background-color);
        border-color: r-theme(filled-disabled-border-color);
      }
    }
  }
}
