@import "./_r-button.theme.scss";
@import "./_r-button-filled.scss";
@import "./_r-button-outline.scss";

:host {
  @include r-button-theme();
  @include button-outline();
  @include button-filled();
  @include r-component-animation(background-color, border-color, box-shadow, color);
  appearance: none;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  font-family: inherit;
  margin: 6px;
  cursor: pointer;

  &:hover, &:focus {
    text-decoration: none;
  }

  &.full-width {
    width: 100%;
  }
}
