@import "../variables.scss";

$default-color-1: #FFFFFF !default;
$default-color-2: #EDF1F7 !default;
$default-color-3: #F7F9FC !default;
$default-color-4: #E4E9F2 !default;
$default-color-5: #F7F9FC !default;
$default-color-6: #1A1F33 !default;

$default-disabled-color-1: rgba(143, 155, 179, 0.24) !default;
$default-disabled-color-2: rgba(143, 155, 179, 0.48) !default;

$default-shadow-1: $shadow rgba($default-color-6, 0.1) !default;
$default-shadow-2: $shadow rgba($default-color-6, 0.2) !default;

$default-map: (
  default-color-1: $default-color-1,
  default-color-2: $default-color-2,
  default-color-3: $default-color-3,
  default-color-4: $default-color-4,
  default-color-5: $default-color-5,
  default-color-6: $default-color-6,
  filled-basic-background-color: $default-color-5,
  filled-basic-border-color: $default-color-2,
  filled-basic-disabled-background-color: $default-color-5,
  filled-basic-color: $default-color-6,
  default-shadow-1: $default-shadow-1,
  default-shadow-2: $default-shadow-2
);
