@import "../../../../styles/r-theme.scss";

:host {
  display: inline-flex;
  flex-direction: row;
  padding: 16px;
  border-bottom: 1px solid r-theme(filled-basic-border-color);
  .r-card-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
  }
}

::ng-deep:host {
  .r-card-header-text {
    [r-card-title] {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 4px;
    }
    [r-card-subtitle] {
      margin-bottom: 12px;
      font-size: 14px;
    }
  }
}
