:host {
  display: inline-block;
  r-card {
    r-card-body {
      padding-left: 0;
      ul {
        margin: 0;
        r-list-item {
          li {
            &::after {
              content: "hr";
            }
          }
        }
      }
    }
  }
}